<!DOCTYPE html>
<html>
<head>
	<title>Disease Predictor</title>
</head>
<body>
	<h2>Disease Predictor</h2>
	<form id="symptom-form">
		<label>Symptom 1:</label>
		<input type="text" name="symptom1"><br>
		<label>Symptom 2:</label>
		<input type="text" name="symptom2"><br>
		<label>Symptom 3:</label>
		<input type="text" name="symptom3"><br>
		<button type="submit">Predict</button>
	</form>

	<div id="result"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#symptom-form').submit(function(event) {
				event.preventDefault();
				var form_data = $(this).serialize();
				$.ajax({
					url: '/predict',
					method: 'POST',
					data: form_data,
					dataType: 'json',
					success: function(response) {
						$('#result').text(response.prediction);
					}
				});
			});
		});
	</script>
</body>
</html>
